.theme--light.v-toolbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.theme--light.v-bottom-nav {
  background-color: rgba(255, 255, 255, 0.8);
}

.theme--light.v-bottom-nav .v-btn:not(.v-btn--active) {
  color: #b9f6ca !important;
}

.v-expansion-panel__container--active {
  box-shadow: none !important;
}

.content-container {
  padding: 56px;
}

.content-image {
  border-radius: 2px;
}

.content-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}

.header-image {
  height: 100vh;
}

.header-padding {
  padding: 48px;
}

.header-text {
  color: #FCFCFC;
  font-size: 56px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.home-logo {
  max-height: 220px;
}

.services-stepper {
  height: 760px;
}

@media (max-width: 960px) {
  .content-container {
    padding: 32px;
  }

  .content-title {
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: normal;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .header-image {
    height: calc(100vh - 56px);
  }

  .header-padding {
    padding: 16px;
  }

  .header-text {
    font-size: 34px;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: normal;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 112px;
  }

  .home-logo {
    max-height: 180px;
  }

  .services-stepper {
    height: 860px;
  }
}

@media (max-width: 600px) {
  .home-logo {
    max-height: 120px;
  }

  .services-stepper {
    height: 1140px;
  }
}

@media (max-width: 360px) {
  .home-logo {
    max-height: 120px;
  }

  .services-stepper {
    height: 1360px;
  }
}
