  
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PublicSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Public Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/PublicSans-Bold.woff2") format("woff2");
}